<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%= strip_tags(yield(:title)) + " – " if content_for?(:title) %>
      Community Volunteer Network
    </title>

    <%= csrf_meta_tags %> <%= csp_meta_tag %>

    <!-- Community Volunteer Network <%= Rails.application.config.version %> (<%= l(Rails.application.config.version_time) %>) -->

    <%# CSS should go closest to the top of the document as possible. %>
    <%= stylesheet_pack_tag("application", media: "all") %>

    <%# JavaScript must be in head for Turbolinks to work. %>
    <%= javascript_pack_tag "application" %>

    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />

    <%= yield(:head) %>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%# Prevents the full URL, including potentially sensitive query strings
    being sent to external origins %>
    <meta name="referrer" content="origin-when-crossorigin" />

    <%# Specifies the default name of home screen bookmark in iOS %>
    <meta
      name="apple-mobile-web-app-title"
      content="Community Volunteer Network"
    />
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="/">Community Volunteer Network</a>
        <% if !user_signed_in? %>
          <a class="btn btn-primary" href="<%= new_user_session_path %>">Sign In</a>
        <% else %>
        <div>
        <ul class="list-inline">
          <li class="list-inline-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Communities
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% current_user.communities.each do |comm| %>
                <%= link_to community.name, community_path(community.slug), class: "dropdown-item" %>
              <% end %>

              <%= link_to("Discover more communities", communities_path, class: "dropdown-item") %>
            </div>
          </li>

          <li class="list-inline-item">
          <span class="navbar-text pr-2">
            <%= current_user.name %>
          </span>
          <%= link_to t(".sign_out"), destroy_user_session_path, class: "btn btn-outline-secondary btn-sm", method: :delete %>
          </li>
          </ul>
          </div>
        <% end %>
        </div>
      </div>
    </nav>

    <%= render("application/flash") %>


    <% if content_for?(:masthead) %>
    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <%= content_for(:masthead) %>
      </div>
    </header>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>


    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="/terms">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="/privacy">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">
             Site content is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
              <br />
              <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
              </a>
            </p>

            <p class="text-muted small mb-4 mb-lg-0">
              <br />
              Application code is open-sourced under <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU GPLv3</a>
              <ul class="list-inline mb-2">
                <li class="list-inline-item text-muted">Github:</li>
                <li class="list-inline-item">
                <a href="https://github.com/joshmcarthur/community-volunteer-network">Source code<a>
                </li>
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                <a href="https://github.com/joshmcarthur/community-volunteer-network/issues">Issue tracker<a>
                </li>
                <li class="list-inline-item">
                <a href="https://github.com/joshmcarthur/community-volunteer-network/projects/1">Feature tracker<a>
                </li>
              </ul>
            </p>
          </div>

        </div>
      </div>
    </footer>
  </body>
</html>
