


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%= strip_tags(yield(:title)) + " – " if content_for?(:title) %>
      Community Volunteer Network
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Community Volunteer Network <%= Rails.application.config.version %> (<%= l(Rails.application.config.version_time) %>) -->

    <%# CSS should go closest to the top of the document as possible. %>
    <%= stylesheet_pack_tag("application",
                            media: "all",
                            "data-turbolinks-track" => "reload") %>

    <%# JavaScript must be in head for Turbolinks to work. %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>

    <%= yield(:head) %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%# Prevents the full URL, including potentially sensitive query strings being sent to external origins %>
    <meta name="referrer" content="origin-when-crossorigin">

    <%# Specifies the default name of home screen bookmark in iOS %>
    <meta name="apple-mobile-web-app-title" content="Community Volunteer Network">
  </head>
  <body>

    <%= render("application/flash") %>
    <%= yield %>

  </body>
</html>
